<%- include('./partials/header') %> 

<div class="container h-full">
    <div>
        <h2 class="text-yellow-400">Posts</h2>
        <% if (currentUser) { %>
            <a href="/create-message">
                <button class="bg-yellow-400">Add A Post</button>
            </a>
        <% } %>
      
    </div>
  
    <% if (posts.length >= 1) { %>
        <% posts.forEach(post => { %>
            <div class="h-2/4 bg-white mx-auto w-1/2 my-5">
                <h1><%= post.title %></h1>
                <p><%= post.body %> </p>

                <% if (currentUser) { %>
                 <p><%= post.author.fullName %> </p>
                 <p> <%=  post.date_posted %> </p>
                <% } %>


                <% if (currentUser.admin) { %>
                    <form action="/" method="DELETE">
                        <input type="hidden" name="postId" value = <%= post._id =>
                        <button type ="submit">
                            Delete
                        </button>
                    </form>
                   <% } %>
            </div>
                
            <% }) %>
    <% } else { %>
        <div class="container mx-auto mt-10 flex flex-col items-center justify-center w-1/2">
            <h3 class="text-white text-center mx-auto">No posts yet!</h3>
            <a href="/create-message">
                <button class="bg-yellow-400">Add A Post</button>
            </a>
        </div>
        
    <% } %>

</div>







<%- include('./partials/footer') %> 