<%- include('./partials/header') %> 

<div class="container h-full min-h-screen p-5">
    <div class="container">
        <h2 class="text-yellow-400 font-bold text-3xl text-center">Posts</h2>
        <% if (currentUser) { %>
            <a href="/create-message">
                <button class="bg-yellow-400">Add A Post</button>
            </a>
        <% } %>
      
    </div>
  
    <% if (posts.length >= 1) { %>
        <% posts.forEach(post => { %>
            <div class="h-1/2 bg-white mx-auto w-1/2 my-5 p-2">
                <h1 class="text-2xl"><%= post.title %></h1>
                <p><%= post.body %> </p>
                <% if (currentUser && currentUser.membership) { %>
                 <p class="text-gray-400"><%= post.author.fullName %> </p>
                 <p class="text-gray-400"> <%=  post.date_posted %> </p>
                <% }  else {%>
                    <p class="text-xs text-gray-500 mt-5">
                        <a class="text-yellow-600" href="/sign-up"> 
                            Sign Up
                        </a>         
                        or log in to see who posted this message!
                    </p>
                        
                 
                <% } %> 
                <% if (currentUser && currentUser.admin) { %>
                    <form action="/" method="DELETE">
                        <input type="hidden" name ="postId" value = "<%= post._id %>">
                        <button type ="submit">
                            Delete
                        </button>
                    </form>
                   <% } %>
            </div>
                
            <% }) %>
    <% } else { %>
        <div class="container mx-auto mt-10 flex flex-col items-center justify-center w-1/2">
            <h3 class="text-white text-center mx-auto">No posts yet!</h3>
            <a href="/create-message">
                <button class="bg-yellow-400">Add A Post</button>
            </a>
        </div>
        
    <% } %>

</div>







<%- include('./partials/footer') %> 